<!--The content below is only a placeholder and can be replaced.-->
<div id="main">
  <h1>{{ title }}</h1>
  <nav>
    <a routerLink="/home">Home</a>
    <a routerLink="/theme">Theme</a>
    <a routerLink="/talks">Talks</a>
    <a routerLink="/social">Social</a>
    <a routerLink="/fun">Fun</a>
    <a routerLink="/swag">Swag</a>
    <a routerLink="/food">Food</a>
    <a routerLink="/transit">Transit</a>
    <a routerLink="/hotels">Hotels</a>
    <a routerLink="/safe">Safe</a>
    <a routerLink="/healthy">Healthy</a>
    <a routerLink="/family">Family</a>
    <a routerLink="/lessons">Lessons</a>
    <a routerLink="/again">Again?</a>
    <a routerLink="/summary">Summary</a>
    <a routerLink="/2019">2019</a>
  </nav>
  <router-outlet></router-outlet>
</div>
