#main {
  text-align:center;
  background-color: #4f2940;
  color: #fae04b;
  font-size: 1.7em;
  min-height: 900px;
  padding: 20px;
}

h1 {
  font-size: 3em;
}

nav a {
  color: #fae04b;
  display: inline-block;
  font-size: 1.2em;
  padding: 10px;
  text-decoration: none;
}
