#main {
  text-align:center;
  background-color: #4f2940;
  color: #fae04b;
}

h1 {
  font-size: 3em;
}

nav a {
  color: #fae04b;
  display: inline-block;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}

.content {
  padding: 20px 10px 10px;
}
