.container {
  margin-top: 40px;
}

.container-flex {
  display: flex;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.text-align-left {
  text-align: left;
}

ul {
  margin: 0;
}

li {
  display: inline-flex;
  list-style: none;
  padding-top: 15px;
}

.inline-flex {
  display: inline-flex;
}

.margin-top-none {
  margin-top: 0;
}

.margin-top-narrow {
  margin-top: 10px;
}

.margin-left-narrow {
  margin-left: 10px;
}

.margin-right-narrow {
  margin-right: 10px;
}

.img-small {
  max-height: 32px;
  max-width: 32px;
}

.img-large {
  max-height: 128px;
  max-width: 128px;
}

.img-xlarge {
  max-height: 200px;
  max-width: 320px;
}

.img-2xlarge {
  max-height: 360px;
  max-width: 480px;
}

.video-2xlarge {
  height: 270px;
  width: 480px;
}

.sub-text {
  font-size: 0.8em;
}
