<p>
  It was a great opportunity to network with attendees, sponsors, organizers, and the Angular team (sponsor alley and crowd pics).
  We met attendees at meals, during activities, and every time we stood in line for booze (booze line pic).
  Also, through Keith I met Joe Eames, Jeff Whelpley, co-founder and CTO of Swish, David East, Google developer
  advocate, and Jesse Sanders, founder and CEO of BrieBug just to name a few (pic of each person). The activities
  were setup to encourage meeting new people. For example they spread hundreds of 80’s themed pins out in the
  swag room, asked each attendee to pick 3, and pin them to their lanyard (pics of our lanyards). Then, you
  would search for other folks with the same pin and strike up a conversation with them using the common pin as
  an ice breaker. Raj appropriately named it a flair pair (office space flair pic).
</p>
