<div class="container">
  <div class="margin-right-narrow inline-flex">
    <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
    It was a great opportunity to network with attendees, sponsors, and organizers
  </div>
  <div class="margin-left-narrow inline-flex">
    <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
    We met attendees at meals, during activities, and at parties
  </div>
  <div class="container-flex margin-top-narrow">
    <div class="flex-1">
      <img class="img-2xlarge" src="./assets/briebug_booth.png" alt="BrieBug booth" />
      <div>BrieBug booth</div>
    </div>
    <div class="flex-1">
      <img class="img-2xlarge" src="./assets/sponsor_alley.png" alt="Sponsor alley" />
      <div>Sponsor alley</div>
    </div>
    <div class="flex-1">
      <img class="img-2xlarge" src="./assets/booze_line.png" alt="Booze line" />
      <div>Booze line</div>
    </div>
  </div>
</div>
<div class="container">
  <div class="inline-flex">
    <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
    Keith also introduced us to the following speakers and organizers
  </div>
  <div class="container-flex margin-top-narrow">
    <div class="flex-1">
      <img class="img-xlarge" src="./assets/joe_eames.jpg" alt="Joe Eames" />
      <div>Joe Eames</div>
      <div class="sub-text">(Pluralsight author & ng-conf organizer)</div>
    </div>
    <div class="flex-1">
      <img class="img-xlarge" src="./assets/jeff_whelpley.jpg" alt="Jeff Whelpley" />
      <div>Jeff Whelpley</div>
      <div class="sub-text">(Co-Founder and CTO of Swish)</div>
    </div>
    <div class="flex-1">
      <img class="img-xlarge" src="./assets/david_east.jpg" alt="David East" />
      <div>David East</div>
      <div class="sub-text">(Google developer advocate)</div>
    </div>
    <div class="flex-1">
      <img class="img-xlarge" src="./assets/jesse_sanders.jpg" alt="Jesse Sanders" />
      <div>Jesse Sanders</div>
      <div class="sub-text">(Founder and CEO of BrieBug)</div>
    </div>
  </div>
</div>
<div class="container container-flex">
  <div class="flex-1">
    <ul class="text-align-left">
      <li>
        <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
        Activities were setup to encourage meeting new people, for example find a pair make a friend
      </li>
      <li>
        <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
        They spread out hundreds of 80’s themed pins on a table and asked attendees to pin 3 to their lanyard
      </li>
      <li>
        <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
        Search for others with your pin and strike up a conversation with them using the pin as an ice breaker
      </li>
      <li>
        <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
        Raj appropriately named it a "flair pair"
      </li>
    </ul>
  </div>
  <div class="flex-1">
    <img src="./assets/lanyard_flair.png" alt="Lanyard flair" />
  </div>
  <div class="flex-1">
    <img src="./assets/office_space_flair.png" alt="37 pieces of flair" />
  </div>
</div>
