<div class="container">
  <ul>
    <li class="li-left">
      <img class="img-left img-small" src="./assets/chevron-right.png" alt="Chevron" />
      It was a great opportunity to network with attendees, sponsors, and organizers
    </li>
    <li class="li-right">
      <img class="img-left img-small" src="./assets/chevron-right.png" alt="Chevron" />
      We met attendees at meals, during activities, and at parties
    </li>
  </ul>
  <div class="container-flex container-bottom">
    <div class="flex-1">
      <img class="img-2xlarge" src="./assets/briebug_booth.png" alt="BrieBug Booth" />
      <div>BrieBug Booth</div>
    </div>
    <div class="flex-1">
      <img class="img-2xlarge" src="./assets/sponsor_alley.png" alt="Sponsor Alley" />
      <div>Sponsor Alley</div>
    </div>
    <div class="flex-1">
      <img class="img-2xlarge" src="./assets/booze_line.png" alt="Booze Line" />
      <div>Booze Line</div>
    </div>
  </div>
</div>
<div class="container">
  Keith also introduced us to the following speakers and organizers
  <div class="container-flex container-bottom">
    <div class="flex-1">
      <img class="img-xlarge" src="./assets/joe_eames.jpg" alt="Joe Eames" />
      <div>Joe Eames</div>
      <div class="sub-text">(Pluralsight author & ng-conf organizer)</div>
    </div>
    <div class="flex-1">
      <img class="img-xlarge" src="./assets/jeff_whelpley.jpg" alt="Jeff Whelpley" />
      <div>Jeff Whelpley</div>
      <div class="sub-text">(Co-Founder and CTO of Swish)</div>
    </div>
    <div class="flex-1">
      <img class="img-xlarge" src="./assets/david_east.jpg" alt="David East" />
      <div>David East</div>
      <div class="sub-text">(Google developer advocate)</div>
    </div>
    <div class="flex-1">
      <img class="img-xlarge" src="./assets/jesse_sanders.jpg" alt="Jesse Sanders" />
      <div>Jesse Sanders</div>
      <div class="sub-text">(Founder and CEO of BrieBug)</div>
    </div>
  </div>
</div>
<div class="container container-flex">
  <div class="flex-1">
    <ul class="ul-left">
      <li>
        <img class="img-left img-small" src="./assets/chevron-right.png" alt="Chevron" />
        Activities were setup to encourage meeting new people, for example find a pair make a friend
      </li>
      <li>
        <img class="img-left img-small" src="./assets/chevron-right.png" alt="Chevron" />
        They spread out hundreds of 80’s themed pins on a table and asked attendees to pin 3 to their lanyard
      </li>
      <li>
        <img class="img-left img-small" src="./assets/chevron-right.png" alt="Chevron" />
        Search for others with your pin and strike up a conversation with them using the pin as an ice breaker
      </li>
      <li>
        <img class="img-left img-small" src="./assets/chevron-right.png" alt="Chevron" />
        Raj appropriately named it a "flair pair"
      </li>
    </ul>
  </div>
  <div class="flex-1">
    <img src="./assets/lanyard_flair.png" alt="Lanyard flair" />
  </div>
  <div class="flex-1">
    <img src="./assets/office_space_flair.png" alt="37 Pieces of Flair" />
  </div>
</div>
