<div class="container container-flex container-align-items-center">
  <div class="flex-2 div-left">
    There were so many great talks about different Angular-related technologies including
  </div>
  <div class="flex-1">
    <img class="img-large" src="./assets/ngrx_logo.png" alt="Ngrx" />
    <div>Ngrx</div>
  </div>
  <div class="flex-1">
    <img class="img-large" src="./assets/rxjs_logo.png" alt="Rxjs" />
    <div>Rxjs</div>
  </div>
  <div class="flex-1">
    <img class="img-large" src="./assets/nx_logo.png" alt="Nx" />
    <div>Nx</div>
  </div>
  <div class="flex-2">
    <img src="./assets/angular_v6_logos.png" alt="Angular CLI 6 & Material 6" />
    <div>Angular CLI 6 & Material 6</div>
  </div>
</div>
<div class="container">
  <div>
    Most talks were 20 or 50 minutes exposing us to many subjects. Several talks were given by members of the
    Angular team and conference sponsors.
  </div>
  <div class="container-flex container-bottom container-align-items-center">
    <div class="flex-1">
      <img class="img-2xlarge" src="./assets/main_room.png" alt="Main Conference Room" />
      <div>Main Conference Room</div>
    </div>
    <div class="flex-1">
      <img class="img-2xlarge" src="./assets/angular_team.png" alt="Angular Team" />
      <div>Angular Team</div>
    </div>
    <div class="flex-1">
      <img class="img-2xlarge" src="./assets/sponsor_logos.png" alt="Sponsor Logos" />
      <div>Sponsor Logos</div>
    </div>
  </div>
</div>
<div class="container">
  <div>
    The best talk was about marble testing by our own Keith Stewart and his speaking partner Sam Brennan.
    Biased...probably, but it  was a fantastic talk and everyone should check it out below.
  </div>
  <div class="container-flex container-bottom container-align-items-center">
    <div class="flex-1">
      <iframe class="video-bottom video-2xlarge"
              src="https://www.youtube.com/embed/dwDtMs4mN48"
              frameborder="0"
              allowfullscreen>
      </iframe>
      <div>Presentation Video</div>
    </div>
    <div class="flex-1">
      <img class="img-2xlarge" src="./assets/keith_sam_talk.png" alt="Keith Stewart & Sam Brennan Talk" />
      <div>Keith & Sam Getting Ready</div>
    </div>
  </div>
</div>
