<div class="container container-flex">
  There were so many great talks about different Angular-related technologies like Ngrx, Rxjs, Nx, as well as the upcoming Angular V6 features (logo pics or speakers).
  Most talks in the main room (pic of main room) were only 20 min with some at 50 min, which exposed us to a
  lot more subjects than I've experienced at other conferences. Several talks were given by members of the
  Angular team (angular team/sponsor logo pics) and conference sponsors. The best talk, however, was about
  marble testing by our own Keith Stewart (marble cover slide and Keith and Sam pic) and his buddy Sam ?
  I may be a bit biassed, but it really was a fantastic talk and everyone should check it out (link to talk)
</div>
