<p>
  So should you go next year? Will I go back next year? Abso-freaking-lutely!!! I would also like to talk about being a
  sponsor and encourage us to speak there again next year. Hopefully, we'll have a good story to tell with our
  experience from Voltron (sponsor or Voltron pic) and it would be a great opportunity to promote it at the team level
  since those are the folks who attended. Other good story opportunities could be converting our old Commit Stream and
  Mobile Connect (commit stream and MC pic) Angular JS code in LC to Angular. I'm also thinking of rewriting the tablet
  part of Tapster (Tapster logo and Angular Native pic) in Angular Native. That could be a fun story to tell in a talk.
</p>
