<div class="container container-flex">
  <div class="flex-1"></div>
  <ul class="flex-4 text-align-left">
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      So should you go next year, Will I go back next year...ABSOLUTELY!!!
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      CN/V1 should consider being a sponsor and encourage each other to speak there next year
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      Good opportunity to promote Ossum at the team level and do a talk about building it
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      Other ideas for talks would be updating Commit Stream, COP, or Mobile Connect to Angular 6,
      or develop a whole new mobile app that includes visibility to the entire VS
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      Also thinking of rewriting the tablet part of Tapster in Angular Native
    </li>
  </ul>
  <div class="flex-1"></div>
</div>
