<p>
  Most people looked pretty beat by the end of the final day on Friday, I know I was (pic of sleeping guy) Of course,
  who wouldn't be only getting about 5 hours of sleep each night, constantly on the go, and inundated with information
  all day? It was like drinking from a fire hose for sure (fire hose pic). Lesson learned...get more sleep
  (pillow pic)! The other lesson learned, bring an empty suitcase to put all your swag and prizes in or just plan to
  ship it back (suitcase or UPS pic).
</p>
