<div class="container container-flex">
  <ul class="text-align-left">
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      The SWAG and prizes were fantastic
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      Sponsors raffled off high-dollar items like a MacBook Pro, bad ass drones, and really nice earbuds
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      The conference also gave away an “irresponsible” amount of prizes with up to 15-20 drawings each hour
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      Additionally, several activities included a way to win prizes, Battle Bot bracket, 80s trivia, etc.
    </li>
  </ul>
  <ul class="text-align-left">
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      I won a Sonos from the hourly drawing and notebook camera cover by spinning a sponsor prize wheel
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      Raj won a Nintendo classic from a raffle drawing he entered by answering 80s trivia questions
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      Other prizes included Nintendo Switches, various big drones, and Oculus Rifts
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      One of the sponsors even raffled off the 43” 4K TV they used as the display in their booth
    </li>
  </ul>
</div>
<div class="container container-flex">
  <div class="flex-1">
    <img class="img-2xlarge" src="./assets/swag.jpg" alt="Awesome SWAG" />
    <div>Kick Ass SWAG Bag</div>
  </div>
  <div class="flex-1">
    <img class="img-2xlarge" src="./assets/sonos.jpg" alt="Sonos Sound System" />
    <div>Sonos Sound System</div>
  </div>
  <div class="flex-1">
    <img class="img-2xlarge" src="./assets/nes_classic.jpg" alt="NES Classic" />
    <div>NES Classic</div>
  </div>
</div>
