<p>
  The swag and prizes were great. There were so many sponsors giving away stuff, I actually had to stop accepting
  things because I couldn't get anything else in my suitcase (swag pic). Several sponsors raffled off high-dollar
  items like a MacBook pro, drones, and badass earbuds. The conference also gave away an “irresponsible” amount
  of prizes with up to 15-20 drawings each hour (prize winner pics). In addition, virtually every activity included
  a way to win prizes. I won a Sonos from the random hourly drawing and notebook camera cover by spinning a sponsor
  wheel (Sonos pic) and Raj won a Nintendo classic (classic pic) from ??? Other prizes included Nintendo Switch
  (switch pic), various big drones, and Oculus Rift (rift pic). One of the sponsors even raffled off the 43” 4K TV
  they used as a display in their booth.
</p>
