<p>
  So, I'd you're interested in going next year, save the date ??? (slap bracelet pic) in your calendar and I'll try to
  announce when tickets go on sale (ng-conf logo 2019 pic). Also, please let me know if you'd be interested in speaking
  at the conference, have ideas about what we could talk about, or want to contribute to something we can talk about.
  Keep in mind that the conference covers the cost for speakers to come so you could still go to another conference
  during the year. Thank you! (peace out pic)
</p>
