<div class="container container-flex">
  <div class="flex-2">
    <ul class="text-align-left">
      <li>
        <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
        If you're interested in going next year, save the date May 1st - 3rd 2019 in your calendar and I'll try to
        announce when tickets go on sale
      </li>
      <li>
        <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
        Please let me know if you'd be interested in speaking at the ng-conf, have ideas for talks, or want to
        contribute to something we can talk about
      </li>
      <li>
        <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
        Keep in mind that the ng-conf covers the airfare, lodging, and ticket for speakers so you could still go
        to another conference during the year
      </li>
    </ul>
  </div>
  <div class="flex-1">
    <img src="./assets/save_the_date.jpg" alt="Save the date" />
  </div>
</div>
<div class="container margin-top-huge">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/vsYBtfQ3QDo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<div class="container margin-top-huge">
  <div class="margin-right-narrow inline-flex">
    <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
    Thank you for your time
  </div>
  <div class="flex-1">
    <img src="./assets/peace_out.gif" alt="Peace out" />
  </div>
</div>
