<div class="container container-flex">
  <ul class="text-align-left">
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      To summarize, it was...totally awesome, the best conference I've been to or ever hear of
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      It was very educational, a ton of fun, and created a great opportunity to meet others in our industry
    </li>
  </ul>
  <ul class="text-align-left">
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      We brought back ideas of how to incorporate some of the fun conference activities into our culture, a
      company-wide Hackweek puzzle quest perhaps
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      The best part was learning many new things about my teammates, strengthening the bonds between us, and
      sharing in many fond memories that we'll refer back to for years to come
    </li>
  </ul>
</div>
<div class="container container-flex">
  <div class="flex-1">
    <img src="./assets/totally_awesome.png" alt="Totally awesome buttons" />
  </div>
  <div class="flex-1">
    <img src="./assets/representing.png" alt="Keith, Mickey, and Raj" />
  </div>
</div>
