<p>
  In summary, it was...totally awesome (totally awesome button pic)! The best conference I've been to and I'm definitely
  going back. It was very educational, a ton of fun, and created a great opportunity to meet others in our industry. We
  have good ideas of how to incorporate some of the fun conference activities into our culture. A company-wide Hackweek
  puzzle quest perhaps, wink wink (hackweek/puzzle pic)? The best part, however, was learning many new things about my
  teammates, strengthening the bonds between us, and sharing in many fond memories that I'm sure we'll refer back to for
  years to come (pic of us together).
</p>
