<div class="container container-flex">
  <img class="img-left img-xlarge" src="./assets/ready_player_one.jpg" alt="Ready Player One Movie" />
  <ul class="ul-left">
    <li>
      <img class="img-left img-small" src="./assets/chevron-right.png" alt="Chevron" />
      The conference theme was the 80’s, inspired by the movie Ready Player One, which was awesome!
    </li>
    <li>
      <img class="img-left img-small" src="./assets/chevron-right.png" alt="Chevron" />
      We saw the movie our first night in Salt Lake at a conference sponsored Ready Player One Movie Night.
    </li>
  </ul>
</div>
<div class="container container-flex">
  <div>
    Between sessions we enjoyed 80’s music
    <iframe class="video-bottom video-2xlarge"
            src="https://www.youtube.com/embed/djV11Xbc914?start=53"
            frameborder="0"
            allowfullscreen>
    </iframe>
  </div>
  <div>
    dance battles outside the conference hall
    <video controls class="video-bottom video-2xlarge">
      <source src="./assets/dancing.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div>
    and skits performed by 80’s characters
    <iframe class="video-bottom video-2xlarge"
            src="https://www.youtube.com/embed/rUZ9CjcaCEw?start=97"
            frameborder="0"
            allowfullscreen>
    </iframe>
  </div>
</div>
