<div class="container container-flex">
  <div class="flex-1"></div>
  <img class="flex-2 margin-right-narrow img-2xlarge" src="./assets/ready_player_one.jpg" alt="Ready Player One movie" />
  <ul class="flex-4 text-align-left">
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      The conference theme was the 80’s inspired by the movie Ready Player One (RP1)
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      We saw the movie our first night in Salt Lake at a conference sponsored RP1 Movie Night
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      Between the talks we were entertained by...
    </li>
  </ul>
  <div class="flex-1"></div>
</div>
<div class="container container-flex">
  <div class="flex-1">
    <div class="inline-flex">
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      TVs rocking 80s music videos
    </div>
    <iframe class="margin-top-narrow video-2xlarge"
            src="https://www.youtube.com/embed/djV11Xbc914?start=53"
            frameborder="0"
            allowfullscreen>
    </iframe>
  </div>
  <div class="flex-1">
    <div class="inline-flex">
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      dance battles in the hallway
    </div>
    <video controls class="margin-top-narrow video-2xlarge">
      <source src="./assets/dancing.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="flex-1">
    <div class="inline-flex">
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      and 80's character skits
    </div>
    <iframe class="margin-top-narrow video-2xlarge"
            src="https://www.youtube.com/embed/rUZ9CjcaCEw?start=97"
            frameborder="0"
            allowfullscreen>
    </iframe>
  </div>
</div>
