<div class="container container-flex">
  <ul class="text-align-left">
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      Every day was filled with fun activities
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      Conference quest with daily challenges inspired by RP1
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      Old-school console gaming stations setup everywhere
    </li>
  </ul>
  <ul class="text-align-left">
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      RP1 movie night on Tuesday
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      A conference-hosted party, BattleBot competition, and escape bus on Wednesday
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      Two sponsor-hosted parties and a D&D games on Thursday night
    </li>
  </ul>
</div>
<div class="container container-flex">
  <div class="flex-1">
    <img class="img-2xlarge" src="./assets/delorean.png" alt="Delorean at Party" />
    <div>Delorean at Conference Sponsored Party</div>
  </div>
  <div class="flex-1">
    <img class="img-2xlarge" src="./assets/escape_bus.png" alt="Escape Bus" />
    <div>Alcatraz Escape Bus</div>
  </div>
  <div class="flex-1">
    <video controls class="margin-top-narrow video-2xlarge">
      <source src="./assets/battle_bots.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div>Battle Bot Mayhem!</div>
  </div>
</div>
<div class="container container-flex">
  <div class="flex-1">
    <img class="img-2xlarge" src="./assets/rangle_io_party.png" alt="Rangle.io Party" />
    <div>Party Sponsored by Rangle.io</div>
  </div>
  <div class="flex-1">
    <img class="img-2xlarge" src="./assets/party_hall.png" alt="Party Hall" />
    <div>Hallway Chillin' Between Parties</div>
  </div>
  <div class="flex-1">
    <img class="img-2xlarge" src="./assets/raj_dnd.png" alt="Raj D&D" />
    <div>Raj Playing D&D...The Giant Clam?</div>
  </div>
</div>
<div class="container container-flex">
  <div class="flex-3">
    <img src="./assets/raj_80s_trivia.jpg" alt="Raj 80s Trivia" />
    <div>Raj Final 3 in 80s Trivia</div>
  </div>
  <div class="flex-2">
    <img src="./assets/balloon_dude.jpg" alt="Balloon Dude" />
    <div>Random Dude Made of Balloons</div>
  </div>
  <div class="flex-2">
    <img src="./assets/balloon_thing.jpg" alt="Balloon Stranger Things Creature" />
    <div>WTF...Balloon Stranger Things Creature?</div>
  </div>
</div>
