<div class="container">
  <ul class="text-align-left">
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      Every day was filled with fun activities
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      Conference quest with daily challenges inspired by RP1
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      Old-school console gaming stations setup everywhere
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      RP1 movie night on Tuesday
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      A conference-hosted party, BattleBot competition, and escape bus on Wednesday
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      Two sponsor-hosted parties and a D&D games on Thursday night
    </li>
  </ul>
</div>
<p>
  Every day was filled with fun activities including a Ready Player One movie night on Tuesday (RP1 movie pic),
  conference quests each day, a conference-hosted party on Wednesday, two sponsor-hosted parties on Thursday
  (party pics), a D&D game on Thursday night (Raj D&D pics), an escape bus (bus pic) and Battle Bot (bot pics)
  competition on Wednesday. In addition, there were old school console gaming stations setup everywhere
  (console playing pics).
</p>
