<div class="container container-flex">
  <ul class="text-align-left">
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      The food was really good
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      ng-conf provided breakfast and lunch each day and dinner at the party on Wednesday
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      Some free adult beverages were provided at all three parties
    </li>
  </ul>
  <ul class="text-align-left">
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      A constant supply of snacks and drinks were available between meals
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      Food options were provided for various dietary needs and everything was labeled appropriately
    </li>
    <li>
      <img class="margin-right-narrow img-small" src="./assets/chevron-right.png" alt="Chevron" />
      Healthier food options including vegetarian/vegan foods, juices, and smoothies
    </li>
  </ul>
</div>
<div class="container">
  <div class="flex-1">
    <img src="./assets/food.png" alt="Food table" />
    <div>Foodz? You can haz cheezburger</div>
  </div>
</div>
